body {
    background-image: url("jake.jpg");
    font-size: 18px;
    font-family: tahoma, sans-serif;
    }

#float {
    width: 85%;
    margin: auto;
    top: 0;
    bottom: 0;
    position: relative;
    border-radius: 30px;
    min-height: 1400px;  

    background-color: rgba(40, 49, 73, 0.95);
    color: white;
}

#header img {
    padding: 1em 4em 1em 4em;
}

#header {
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

#content {
    padding: 2em;
  
}

#foot {
    position: absolute;
    font-size: 18px;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
}

.tag ul {
    background-color: transparent;
}

.tag li {
    width: 100px;
    background-color: #ab88b9;
    margin: 0.5em;

}


.sign {
    width: 30%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: left;
}


table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 0.5em;
}

th {
    text-align: left;
    background-color: #8a25b1;
    color: white;
}

tr {
    background-color: white;
    color: black;
}

tr a {
    color: black;
}

tr:hover {
    background-color: #e78200;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

a {
    color: white;
}

hr {
    border-width: 1px;
    color: black;
}


.q {

    height: 500px;
    width: 100%;
    
}

.q_data {
    float: left;
    width: 170px;
}

.q_data form {
    display: inline;
}

.q_message {
    float: left;
    margin-left: 100px;
}





.left {
    width: 100px;
}

.right {
    width: 150px;
}

.main {
    margin-top: 2em;
}

/* INDEX */
h1 {
    color: rgb(255, 255, 255);
}

h2 * {
    margin-left: 2em;
}

.index_question p {
    margin-left: 5em;
}

/* QUESTION */




.logerror {
    color: crimson;
}

/* IMG */

.question_image {
    max-width: 400px;
    height: auto;
}

.answer_image {
    max-width: 200px;
    height: auto;
}

/* ANSWER */

.answer {
    margin: 15px;
}

.answer_message {
    font-size: 1.5em;
}

.answer_data {
    align-items: flex-end;
    display: flex;
    width: 150px;
    font-size: 0.8em;
    font-style: italic;
}

/* COMMENT */
.comment {
    text-align: right;
    margin: 20px;
    font-size: 0.9em;
}

.comment_data {
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
}

.add_comment {
    text-align: right;
}

.log_alert {
    color: crimson;
}
