body {
    background-image: url("jake.jpg");
    
    text-align: center;
    height: 99%;
    width: 99%;
    font-size: 12px;
    font-family: tahoma, sans-serif;
    }

a {
    color: rgb(255, 255, 255);
}

#float, #header {
    border-radius: 30px;
}

#float {
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 18, 0.7);

    color: white;
    
}

#header {
    padding: 0;
}

#content {

    padding: 2em;
    
}

.main {
    margin-top: 2em;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 1em;
}

td, th {
    padding: 8px;
}

tr {
    background-color: white;
    color: black;
}

tr a {
    color: black;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #009ae1;
    color: white;
}

/* INDEX */
h1 {
    color: rgb(255, 255, 255);
}


h2 * {
    margin-left: 2em;
}

.index_question p {
    margin-left: 5em;
}

/* QUESTION */
.question_data {
    float: right;
    width: 150px;
}

.question_title {
    margin-left: 1em;
    clear: left;
    margin-bottom: 3em;
    font-size: 2em;
}

.question_message {
    margin-left: 2em;
    clear: left;
    margin-bottom: 3em;
    font-size: 1.7em;
}

/* IMG */

.question_image {
    max-width: 400px;
    height: auto;
}

.answer_image {
    max-width: 200px;
    height: auto;
}

/* ANSWER */

.answer {
    margin: 15px;
}

.answer_message {
    font-size: 1.5em;
}

.answer_data {
    align-items: flex-end;
    display: flex;
    width: 150px;
    font-size: 0.8em;
    font-style: italic;
}

/* COMMENT */
.comment {
    text-align: right;
    margin: 20px;
    font-size: 0.9em;
}

.comment_data {
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
}

.add_comment {
    text-align: right;
}
