.left {
    width: 100px;
}

.right {
    width: 150px;
}

.main {
    margin-top: 2em;
}

/* INDEX */
h1 {
    color: rgb(255, 255, 255);
}

h2 * {
    margin-left: 2em;
}

.index_question p {
    margin-left: 5em;
}

/* QUESTION */
.question_data {
    float: right;
    width: 150px;
}

.question_title {
    margin-left: 1em;
    clear: left;
    margin-bottom: 3em;
    font-size: 2em;
}

.question_message {
    margin-left: 2em;
    clear: left;
    margin-bottom: 3em;
    font-size: 1.7em;
}

.logerror {
    color: crimson;
}

/* IMG */

.question_image {
    max-width: 400px;
    height: auto;
}

.answer_image {
    max-width: 200px;
    height: auto;
}

/* ANSWER */

.answer {
    margin: 15px;
}

.answer_message {
    font-size: 1.5em;
}

.answer_data {
    align-items: flex-end;
    display: flex;
    width: 150px;
    font-size: 0.8em;
    font-style: italic;
}

/* COMMENT */
.comment {
    text-align: right;
    margin: 20px;
    font-size: 0.9em;
}

.comment_data {
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
}

.add_comment {
    text-align: right;
}

.log_alert {
    color: crimson;
}
