{% extends "layout.html" %}

{% block content %}
    <div class="index_question">
        <h1>Latest questions</h1>
        <hr>
        {% for question in lastes_questions %}
        <div class="five_questions">
            <h2>
                <a href="{{ url_for('show_question', question_id=question.id) }}">{{ question.title }}</a>
            </h2>
            <p>
                {{ question.message }}
            </p>
            <hr>
        </div>
        
        {% endfor %}
    </div>
{% endblock %}