<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate3</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='layout.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='menubar.css') }}">
    </head>
    <body>

        <div id='float'>

            <div id='header'>
                <img width="40%"  src="{{ url_for('static', filename='images/askmate.png') }}">
                <img width="15%" align="right" src="{{ url_for('static', filename='images/takich5.png') }}">
            </div>

            <div id='menubar'>
                    <ul>
                        <li style="float:right" class="active">
                            <form action="{{ url_for('search') }}" method="POST">
                                <input name="word" class="input">
                                <button type="submit">SEARCH</button>
                            </form>
                        </li>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('questions') }}">Questions</a></li>
                        <li><a href="{{ url_for('tags') }}">Tags</a></li>
                       <!--<li><a href="{{ url_for('show_user', user_id=1) }}">User page</a></li>-->
                        <li><a href="#">User page</a></li>
                        {% if 'user_id' not in session %}
                        <li><a href="{{ url_for('registration') }}">Sign up</a></li>
                        <li><a href="{{ url_for('signin') }}">Sign in</a></li>
                        {% else %}
                       <li style="float:right" class="active"> <a href="{{ url_for('logout') }}">Log Out ({{session.user_name}})</a></li>
                       
                        {% endif %}
                        
                    </ul>
            </div>

            <div id='content'>
                    {% block content %} {% endblock %}
            </div>

            <div id='foot'>
                &copy2018 Takich 5
            </div>
    </div>


    </body>
</html>
