<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Askmate2</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='layout.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='menubar.css') }}">
    </head>
    <body>

        <div id='float'>

            <div id='header'>
                <img width="40%" src="{{ url_for('static', filename='images/askmate.png') }}">
                <img width="15%" align="right" src="{{ url_for('static', filename='images/takich5.png') }}">
            </div>

            <div id='menubar'>
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('questions') }}">Questions</a></li>
                        <li><a href="{{ url_for('tags') }}">Tags</a></li>
                        <li><a href="#">User page</a></li>
                        <li><a href="{{ url_for('registration') }}">Sign up</a></li>
                        <li style="float:right"><a class="active" href="{{ url_for('signin') }}">Sign in</a></li>
                    </ul>
            </div>

            <div id='content'>
                    {% block content %} {% endblock %}
            </div>

            <div id='foot'>
                &copy2018 Takich 5
            </div>
    </div>


    </body>
</html>
