{% extends "layout.html" %}

{% block content %}
    <div id="newQuestion">
        <form action="{{ url_for('data_handler') }}" method="POST">
            {% if question %}
            <table class="add_qa"><tr><td class="left">
                <h2>Title</h2>
                <input type="text" name="title" class="input" value="{{ question.title }}">
                <br>
                <h2>Message</h2>
                <textarea name="message" rows="5" cols="30" class="input">{{ question.message }}</textarea>
                <br>
                <h2>Image address</h2>
                <input type="text" name="image" class="input" value="{{ question.image }}">
                <!-- checking value --> <br>view num, vote num, question id: <br>
                <input type="value" name="view_number" style="display: block" value="{{ question.view_number }}">
                <input type="value" name="vote_number" style="display: block" value="{{ question.vote_number }}">
                <input type="value" name="id" style="display: block" value="{{ question.id }}">
                <button type="submit">Update</button>
            </td>
            <td class="right">
                <h3>Login</h3>
                <input type="text" name="login" class="input" value="{{ question.user_name }}">
                <h3>Password</h3>
                <input type="password" name="password" class="input">
            </td>
            </table></tr>
            {% else %}
            <table class="add_qa"><tr><td class="left">
            <h2>Title</h2>
            <input type="text" name="title" class="input">
            <br>
            <h2>Message</h2>
            <textarea name="message" rows="5" cols="30" class="input"></textarea>
            <br>
            <h2>Image address</h2>
            <input type="text" name="image" class="input">
            <button type="submit">Ask</button>
            </td>
            <td class="right">
                <h3>Login</h3>
                <input type="text" name="login" class="input">
                <h3>Password</h3>
                <input type="password" name="password" class="input">
            </td>
            </table></tr>
            {% endif %}
        </form>
    </div>

{% endblock %}
