{% extends "layout.html" %}

{% block content %}
    <div class="question">
        <nav class="question_data">
            <h2>Data</h2>
            Submission time: {{ question[0].submission_time }}<br>
            Vote number: {{ question[0].vote_number }}<br>
            View number: {{ question[0].view_number }}<br>
        </nav>

        <div class="question_title">
            <h1>{{ question[0].title }}</h1>
        </div>

        <div class="question_message">
            <p>
                {{ question[0].message }}
            </p>
            <p>
                <form action={{ url_for('vote', question_id=question_id, answer_id='None', vote='plus')}} method="POST">
                    <button type="submit" name="qplus" value="+">+ vote</button>
                </form>
                <form action={{ url_for('vote', question_id=question_id, answer_id='None', vote='minus')}} method="POST">
                    <button type="submit" name="qminus" value="-">- vote</button>
                </form>
            </p>
        </div>
        {% if question[0].image is in [''] %}
            <img src="{{ question[0].image }}" class="question_image">
        {% endif %}

    </div>


    {% for comment in comment %}
    {% set comment_id = comment.id %}

        <div class="comment">
            <hr size="1" color="black" />
            <div>
                {{ comment.message }}
            </div>

            <nav  class="comment_data">
                Added: {{ comment.submission_time}}
                <br>
                Edited count: {{comment.edited_count}}
            </nav>



        </div>
    {% endfor %}

    <div class="add_comment">
        <hr size="1" color="black" />

        <div class="add_comment">
            {% if coment_id %}
            <form action="{{ url_for('edit_coment', question_id=question_id, comment_id=coment_id) }}" method="POST">
                    <h3>Comment</h3>
                    <textarea name="message" rows="1" cols="50" class="input"></textarea>
                    <button type="submit">Edit comment</button>
            </form>
            {% else %}
            <form action="{{ url_for('post_comment', question_id=question_id) }}" method="POST">
                    <h3>Comment</h3>
                    <textarea name="message" rows="1" cols="50" class="input"></textarea>
                    <button type="submit">Post comment</button>
            </form>
            {% endif %}
        </div>

    </div>



    <div class="add_answer">
        <hr size="1" color="black" />

        <div class="add_answer">
            {% if answer_id %}
            <form action="{{ url_for('edit_answer', question_id=question_id, answer_id=answer_id) }}" method="POST">
                    <h2>Answer</h2>
                    <textarea name="message" rows="4" cols="50" class="input"></textarea>
                    <h2>Image address</h2>
                    <input type="text" name="image" class="input">
                    <button type="submit">Edit answer</button>
            </form>
            {% else %}
            <form action="{{ url_for('post_answer', question_id=question_id) }}" method="POST">
                    <h2>Answer</h2>
                    <textarea name="message" rows="4" cols="50" class="input"></textarea>
                    <h2>Image address</h2>
                    <input type="text" name="image" class="input">
                    <button type="submit">Post answer</button>
            </form>
            {% endif %}
        </div>
        <hr size="2" color="black"/>
    </div>

    {% for answer in answers %}
    {% set answer_id = answer.id %}
        <div class="answer">
            <div>
                {{ answer.message }}
            </div>
            <br>
            <nav class="answer_data">
                Added: {{ answer.submission_time}}
                <br>
                Vote number: {{ answer.vote_number}}
                <form action={{ url_for('vote', question_id=question_id, answer_id=answer_id, vote='plus')}} method="POST">
                    <button type="submit" name="qplus" value="+">+ vote</button>
                </form>
                <form action={{ url_for('vote', question_id=question_id, answer_id=answer_id, vote='minus')}} method="POST">
                    <button type="submit" name="qminus" value="-">- vote</button>
                </form>

            </nav>

            {% if answer.image is in [''] %}
                <img src="{{ answer.image }}" class="answer_image">
            {% endif %}

            <button><a href="{{ url_for('show_question', question_id=question_id, answer_id=answer_id) }}" >EDIT</a></button>
            <button><a href="{{ url_for('delete_answer', question_id=question_id, answer_id=answer_id) }}" >DELETE</a></button>

            <hr size="1" color="black" />
        </div>
    {% endfor %}






{% endblock %}
