{% extends "layout.html" %}

{% block content %}
{% for question in questions %}

    <div class="q">
        <div class="q_data">
            {%set user_id=question.user_id%}
            {%for user in users if user.user_id == user_id%}
                <h4>Author: {{user.user_name|default('Unknown', True)}} <!--jinja filter--> </h4>
                <h4>Reputation: {{user.user_reputation|default('0', True)}}  <!--jinja filter--> </h4>
            {%endfor%}
            Submission time: {{ question.submission_time }}<br>
            Vote number: {{ question.vote_number }}
            View number: {{ question.view_number }}<br>
            {% for tag in tags %}
            <div class="tag">
                <div>
                <a href="{{ url_for('select', name=tag.name) }}"> {{ '#'+tag.name }} <
                </div>
            </div>
        {% endfor %}
            <a href={{ url_for('vote', question_id=question_id, vote='plus')}}>
                <img src="{{ url_for('static', filename='images/thumb_up.png') }}">
            </a>
            <a href={{ url_for('vote', question_id=question_id, vote='minus')}}>
                <img align="right" src="{{ url_for('static', filename='images/thumb_down.png') }}">
            </a>
        </div>

        <div class="q_message">
                <h2>{{ question.title }}</h2><hr>
            <p>{{ question.message }}</p>
            {% if question.image != '' %}
            <img src="{{ question['image'] }}" class="question_image" alt="" width="50em" height="50em">
        {% endif %}
        </div>

</div>

    
    {% endfor %}


    {% for comment in comments %}
    {% set comment_id = comments.id %}

        <div class="comment">
            <hr size="1" color="black" />
            <div>
                {{ comment.message }}
            </div>
            <nav  class="comment_data">
                {%set user_id=comment.user_id%}
                {%for user in users if user.user_id == user_id%}
                    <h4>Author: {{user.user_name|default('Unknown', True)}} <!--jinja filter--> </h4>
                    <h4>Reputation: {{user.user_reputation|default('0', True)}}  <!--jinja filter--> </h4>
                {%endfor%}
                Added: {{ comment.submission_time}} <br>
                Edited count: {{comment.edited_count}}
            </nav>



        </div>
    {% endfor %}

    {% if session_flag %}
    <div class="add_comment">
        <hr size="1" color="black" />

        <div class="add_comment">
            {% if coment_id %}
            <form action="{{ url_for('edit_coment', question_id=question_id, comment_id=coment_id) }}" method="POST">
                    <h3>Comment</h3>
                    <textarea name="message" rows="1" cols="50" class="input"></textarea>
                    <button type="submit">Edit comment</button>
            </form>
            {% else %}
            <form action="{{ url_for('post_comment', question_id=question_id) }}" method="POST">
                    <h3>Comment</h3>
                    <textarea name="message" rows="1" cols="50" class="input"></textarea><br>
                    <button type="submit">Post comment</button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="add_tag">
        <hr size="1" color="black" />
        {% if session_flag %}
        <form action="{{ url_for('post_tag', question_id=question_id) }}" method="POST">
            <h3>TAGS</h3>
            <textarea name="name" rows="1" cols="20" class="input"></textarea>
            <button type="submit">Add TAG</button>
        </form>
        {% endif %}
    </div>


    {% if session_flag %}
    <div class="add_answer">
        <hr size="1" color="black" />

        <div class="add_answer">
            {% if answer_id %}
            <form action="{{ url_for('edit_answer', question_id=question_id, answer_id=answer_id) }}" method="POST">
                    <h2>Answer</h2>
                    <textarea name="message" rows="4" cols="50" class="input"></textarea>
                    Image address
                    <input type="text" name="image" class="input"><br>
                    <button type="submit">Edit answer</button>
            </form>
            {% else %}
            <form action="{{ url_for('post_answer', question_id=question_id) }}" method="POST">
                    <h2>Answer</h2>
                    <textarea name="message" rows="4" cols="50" class="input"></textarea>
                    Image address
                    <input type="text" name="image" class="input"><br>
                    <button type="submit">Post answer</button>
            </form>
            {% endif %}
        </div>
        <hr size="2" color="black"/>
    </div>
    {% endif %}

    {% for answer in answers %}
    {% set answer_id = answer.id %}
        <div class="answer">
            <div>
                {{ answer.message }}
            </div>
            <br>
            <nav class="answer_data">
                {%set user_id=answer.user_id%}
                {%for user in users if user.user_id == user_id%}
                    <h4>Author: {{user.user_name|default('Unknown', True)}} <!--jinja filter--> </h4>
                    <h4>Reputation: {{user.user_reputation|default('0', True)}}  <!--jinja filter--> </h4>
                {%endfor%}
                Added: {{ answer.submission_time}} <br>
                Vote number: {{ answer.vote_number}}
                <form action={{ url_for('vote', question_id=question_id, answer_id=answer_id, vote='plus')}} method="POST">
                    <button type="submit" name="qplus" value="+">+ vote</button>
                </form>
                <form action={{ url_for('vote', question_id=question_id, answer_id=answer_id, vote='minus')}} method="POST">
                    <button type="submit" name="qminus" value="-">- vote</button>
                </form>

            </nav>

            {% if answer.image is not in [''] %}
                <img src="{{ answer.image }}" class="answer_image" alt="">
            {% endif %}
            {% if session_flag %}
            <button><a href="{{ url_for('show_question', question_id=question_id, answer_id=answer_id) }}" >EDIT</a></button>
            <button><a href="{{ url_for('delete_answer', question_id=question_id, answer_id=answer_id) }}" >DELETE</a></button>
            {% endif %}
            <hr size="1" color="black" />
        </div>
    {% endfor %}

{% endblock %}
