{% extends "layout.html" %}

{% block content %}

    <div class="sign">
            {% if alert_for_user %}
            {{ alert_for_user }}
            {% endif %}
            
            <form action="{{ url_for('add_user') }}" method="post">
    
                <label for="user_name">User:</label><br>
                <input type="text" id="user_name" name="user_name">
                <br>
                <label for="password">Password:</label><br>
                <input id="password" type="password" name="user_password"><br>
    
                <input type="submit" name="register" value="Register">
              
            </form>
        </div>


{% endblock %}