{% extends "layout.html" %}

{% block content %}

    <div>
        <form action="{{ url_for('check_user') }}" method="post">
            <table class="add_qa">
                <tr>
                    <td class="left">User:</td>
                    <td class="right">
                        <input type="text" name="user_name">
                    </td>
                    
                        {% if alert_for_user %}
                        <td class="log_alert" colspan="2">
                        {{ alert_for_user }} 
                        </td>
                        {% endif %}
                    
                </tr>
                <tr>
                    <td class="left">Password</td>
                    <td class="right">
                        <input type="password" name="user_password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('index') }}">
                           <button type="button">Cancel</button>
                        </a>
                    </td>
                    <td>
                        <input type="submit" name="signin" value="Sign in">
                    </td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}