{% extends "layout.html" %}

{% block content %}

    <div>
        {% if alert_for_user %}
        {{ alert_for_user }}
        {% endif %}

        <form action="{{ url_for('check_user') }}" method="post">

            <label for="user_name">User:</label>
            <input type="text" id="user_name" name="user_name">
            
            <label for="password">Password:</label>
            <input id="password" type="password" name="user_password">

            <a href="{{ url_for('index') }}">
                <button type="button">Cancel</button>
            </a>

            <input type="submit" name="signin" value="Sign in">
          
        </form>
    </div>

{% endblock %}